<div class="user-one">
  <div class="stitle">
    <strong><%= user.username %></strong>
  </div>
  <p>
    <img class="profileimg" src="<%= user.img_url %>" />
  </p>
  <p>
    Name: <%= user.name %> <br>
    Role: <%= user.role %> <br>
  </p>
  <p style="text-align: center">
    <%= link_to "Edit", edit_user_path(user) %>
  </p>
</div>
