<!-- USER PAGE -->
<div class="container">
  <% if User.find(session[:current_user_id]).role == "admin" %>
  <h1 class="stitle">Admin Panel for <%= User.find(session[:current_user_id]).name %></h1>
  <p class="stitle">
    <%= link_to "Logout", sessions_path, method: :delete %> ||
    <%= link_to "Main", admins_path %>
  </p>
  <div class="newuser">
    <h3><%= link_to "Create New User", new_user_path %></h3>
  </div>
  <div class="user-all">
    <%= render @users %>
  </div>
  <% else %>
  <h1>Access denied...</h1>
  <% end %>
</div>
