<!-- THIS IS CUSTOMERS PAGE -->
<div class="container">
  <h1 class="stitle">Customer Panel for <%= User.find(session[:current_user_id]).name %></h1>
  <p class="stitle">
    <%= link_to "Logout", sessions_path, method: :delete %> ||
    <% if User.find(session[:current_user_id]).role == "admin" %>
    <%= link_to "Main", admins_path %>
    <% else %>

    <% end %>
  </p>
  <div class="new">
    <h3><%= link_to "Add New Customer", new_customer_path %></h3>
  </div>
  <div class="custoemr-all">
    <%= render @customers %>
  </div>

</div>
